<div class="row">
  <div class="col-sm-8">
    <div class="card card-center">
      <div class="card-block">
        <h1 class="card-title"><%= link_to article.title, article %></h1>

        <p class="card-text"><%= markdown(article.text) %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
        <%= link_to 'Delete', article_path(article), class: 'btn btn-danger',
                    method: :delete,
                    data: {confirm: 'Are you sure to delete the Article ?'}
        %>
      </div>
    </div>
  </div>
</div>